.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: #696f79;
  margin-bottom: 1rem;
}

.title {
  color: #696f79;
  margin-bottom: 1rem;
}

.button {
  padding: 2rem;
}

.score {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}

.container {
  color: #696f79;
  font-weight: 700;
}

.marks {
  font-size: 3rem;
  font-weight: 700;
}

.icon {
  background-color: white;
  padding: 1.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.icon > svg {
  font-size: 4rem;
  font-weight: 700;
  background-color: #696f79;
  color: white;
  padding: 1rem;
  border-radius: 50%;
}

@media (max-width: 72rem) {
  .score {
    display: block;
  }
}
