.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 40vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
@media (max-width: 72rem) {
  .page {
    max-width: 90vw;
  }
}
